* {
  overflow-x: hidden;
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.heading {
  text-align: center;
  margin-top: 30px;
}
.Admin {
  float: right;
  margin-top: 20px;
}
.container {
}
.admin_login {
  padding-top: 50px;
}
.main_class {
  padding-left: 80px;
  margin-top: 70px;
}
button > a {
  text-decoration: none;
  color: white;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 2;
}
